mixin slider(data)
	+b.DIV.slider(class="fade")
		each item in data.list
			+e.DIV.item
				+e.DIV.number= item.number_text
				img(src= item.src style="width: 100%" alt="")
				+e.DIV.text= item.text
		+e.A.prev(onclick="plusSlides(-1)") &#10094
		+e.A.next(onclick="plusSlides(1)") &#10095
		div(style="text-align: center;")
			each item in data.list
				+e.SPAN.dot(onclick=`currentSlide(${item.num})`)