/****************************************
 * 	Helpers
 ***************************************/
// Блокування флоатів
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Довжина стовбців
// $num - кількість стовбців
@mixin col($num) {
	width: 100% / (12 / $num);
}

// Генерація стовбців внутрі одиночного елементу з текстом
// $width - Оптимальна довжина стовбців
// $count - Кількість стовбців
// $gap - Відступ між колонками
@mixin content_cols($width, $count, $gap) {
	-webkit-column-width: $width;
	-moz-column-width: $width;
	column-width: $width;
	-webkit-column-count: $count;
	-moz-column-count: $count;
	column-count: $count;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}

// Завдання розмірів елементу
// $w - Довжина елементу
// $h - Висота елементу
@mixin size($w, $h) {
	width: $w;
	height: $h;
}

// Завдання розмірів квадратного елементу
// $w - Довжина і висота елементу
@mixin square($w) {
	width: $w;
	height: $w;
}

// Скороченнний текст (Скорочування тексту за допомогою "...")
@mixin text_overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Центрування блоку заданої довжини
// $width - Довжина блоку
@mixin container($width:_bp(lg)) {
    max-width: $width;
    margin: 0 auto;
}

// Перетворення блоків на inline-елементи і відображення їх у вигляді карток (на відміну від флоатів не вириває блок з потоку)
// $va - вирівнювання по вертикалі
@mixin cards($va:top) {
	display: inline-block;
	vertical-align: $va;
}