/****************************************
 * 	Helpers
 ***************************************/
 @mixin clearfix {
 	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	* html & { height: 1px }
}



/****************************************
 * 	Tables
 ***************************************/
 // Окраска парних/непарних строк
 // $type - Вказівка парних/непарних строк
 // 	odd - непарні (default)
 // 	even - парні
 @mixin tbl_striped($type:odd) {
    &:nth-child(#{$type}) {
        background-color: _tbl(bg_striped);
    }
}

// Окраска строк при наведенні
@mixin tbl_hover() {
    &:hover {
        background-color: _tbl(bg_hover);
    }
}



/****************************************
 * 	Forms
 ***************************************/
 // Стилізація каретки селекту
 // $width - Довжина коретки
 // $height - Висота каретки
 // $right - Відступ каретки зправа
 // $color - колір каретки
 @mixin form_sel($width:8px, $height:6px, $right:15px, $color:#000) {
 	&:after {
 		content: '';
 		position: absolute;
 		top: 50%;
 		right: $right;
 		margin-top: -($height/2);
 		background-color: transparent;
 		border-top: #{$height} solid $color;
 		border-left: #{$width/2} solid transparent;
 		border-right: #{$width/2} solid transparent;
 	}
 }

// Стилізація checkbox (Застосовується для input[type="checkbox"], коли поуч є label)
// $width - Довжина
// $bdc - Колір бордеру
// $bg - Фоновий колір
// $bdrs - Скруглення бордеру
// $bd_weight - Вага бордеру
// $in_bg - Фоновий колір активної частини
// $in_width - Довжина активної частини
@mixin form_checkbox($width:16px, $bdc:#000, $bg:#fff, $bdrs:0, $bd_weight:1px, $in_bg:#000, $in_width:10px) {
	& {
		visibility: hidden;
	}

	& ~ label {
		position: absolute;
		top: 0;
		left: 0;
		width: $width;
		height: $width;
		border: $bd_weight solid $bdc;
		display: block;
		background-color: $bg;
		border-radius: $bdrs;
		box-sizing: border-box;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: $width/2 -$in_width/2-$bd_weight;
			left: $width/2 -$in_width/2-$bd_weight;
			width: $in_width;
			height: $in_width;
			background-color: $in_bg;
			display: none;
		}
	}

	&:checked ~ label {
		&:before {			
			display: block;
		}
	}
}

// Стилізація radio (Застосовується для input[type="radio"], коли поуч є label)
// $width - Довжина
// $bdc - Колір бордеру
// $bg - Фоновий колір
// $bd_weight - Вага бордеру
// $in_bg - Фоновий колір активної частини
// $in_width - Довжина активної частини
@mixin form_radio($width:16px, $bdc:#000, $bg:#fff, $bd_weight:1px, $in_bg:#000, $in_width:10px) {
	& {
		visibility: hidden;
	}

	& ~ label {
		position: absolute;
		top: 0;
		left: 0;
		width: $width;
		height: $width;
		border: $bd_weight solid $bdc;
		display: block;
		background-color: $bg;
		border-radius: 100%;
		box-sizing: border-box;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: $width/2 -$in_width/2-$bd_weight;
			left: $width/2 -$in_width/2-$bd_weight;
			width: $in_width;
			height: $in_width;
			background-color: $in_bg;
			border-radius: 100%;
			display: none;
		}
	}

	&:checked ~ label {
		&:before {			
			display: block;
		}
	}
}

// Стилізація placeholder
// $color - Колір тексту
// $fs - Стиль тексту
// $fz - Розмір тексту
@mixin form_plh($color:#ddd, $fs:italic, $fz:14px) {
	&::-webkit-input-placeholder {
		color:$color;
		font-style: $fs;
		font-size: $fz;
	}
	&::-moz-placeholder {
		color:$color;
		font-style: $fs;
		font-size: $fz;
		}/* Firefox 19+ */
	&:-moz-placeholder {
		color:$color;
		font-style: $fs;
		font-size: $fz;
		}/* Firefox 18- */
	&:-ms-input-placeholder      {
		color:$color;
		font-style: $fs;
		font-size: $fz;
	}
}