$g_Font:(
	ff: ('Helvetica Neue',Helvetica,Arial,sans-serif),
	fz: 14px,
	fz_h1: 36px,
	fz_h2: 30px,
	fz_h3: 24px,
	fz_h4: 18px,
	fz_h5: 14px,
	fz_h6: 12px,
	fw: 400,
	fw_bold: 700,
	fw_light: 300,
	lh: 1.5
);

$g_Color:(
	text: black,
	bd: gray,
	link: blue
);

$g_Bg:(
	body: white,
	page: gray,
);

$g_Height:(
	header: 100px,
	footer: 100px
);

$g_Width:(
	sidebar: 100px
);

$g_Size:(
	cols: 12,
	gutter: 15px,	
	bdrs: 4px
);

$g_Int:(
	sect_v: 15px,
	sect_sb_v: 15px,
	sect_h: 15px,
	sect_sb_h: 15px,
	page_h: 0
);

$g_Points:(
	sm: 500px,
	md: 768px,
	lg: 1025px,
	xl: 1260px
);