/* Значення для шрифту */
$g_Font:(
	ff: ('Helvetica Neue',Helvetica,Arial,sans-serif), // родина використовуємих шрифтів
	fz: 14px, // Головних розмір шрифта тексту
	fz_h1: 36px, // Розмір тексту тегу h1
	fz_h2: 30px, // Розмір тексту тегу h2
	fz_h3: 24px, // Розмір тексту тегу h3
	fz_h4: 18px, // Розмір тексту тегу h4
	fz_h5: 14px, // Розмір тексту тегу h5
	fz_h6: 12px, // Розмір тексту тегу h6
	fw: 400, // Вага базового тексту
	fw_bold: 700, // Вага жирного тексту
	fw_light: 300, // Вага легкого тексту
	lh: 1.5, // Значення кеглю шрифта
);

/* Набор кольорів */
$g_Color:(
	// Звичайний текст
	text: black,// Головний колір тексту
	bd: gray,// Головний колір бордеру
	link: blue,// Головний колір текстового посилання

	// Таблиці
	tbl_bd: gray,// Головний колір бордерів таблиць

	// Форми
	form_bd: gray,// Головний колір бордерівполів вводу форми
);

$g_Bg:(
	// Базові
	body: white, // Колір фону браузера
	page: gray, // Колір фону сайту

	// Форми
	form_bg: #fff, // Колір фону полів вводу форми
);

$g_Height:(
	header: 100px,// Висота шапки сайту
	footer: 100px,// Висота підвалу сайту

	// Форми
	form_ta_h: 200px,// Висота поля вводу 'textarea'
);

$g_Width:(
	// Структура
	sidebar: 100px, // Довжина сайдбару

	// Форми
	form_w: 100%, // Довжина полів вводу
);

$g_Size:(
	cols: 12,
	gutter: 15px,	
	bdrs: 4px,

	// Форми
	form_bdrs: 4px, // Скруглення полів вводу форми
);

$g_Int:(
	sect_v: 15px,// Вертикальний секційний відступ
	sect_sb_v: 15px,// Вертикальний секційний відступ в сайдбарі
	sect_h: 15px,// Горизонтальний секційний відступ
	sect_sb_h: 15px,// горизонтальний секційний відступ в сайдбарі

	// Форми
	form_pad: 4px 8px, // Внутрішній відступ полів вводу форми
	form_pad_item: 8px, // Внутрішній відступ огортувача поля вводу форми
);

$g_Points:(
	sm: 500px,
	md: 768px,
	lg: 1025px,
	xl: 1260px
);