// Щоб прихований текст був доступний для читалок (на противагу "display: none")
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-justify {
	text-align: justify;
}