// @include page-xs();
// @include page-sm();
// @include page-md();
// @include page-lg();
// @include page-xl();
// @include page-dev();
// @include page-mob();
// @include page-xso();
// @include page-smo();
// @include page-mdo();
// @include page-lgo();

// ***************************************
//  Variables
// ***************************************
// Значення для шрифту
$g_Font:(
    ff: ('Helvetica Neue',Helvetica,Arial,sans-serif), // базовий шрифт
    fz: 14px, // Головних розмір шрифта тексту
    fz_h1: 36px, // Розмір тексту тегу h1
    fz_h2: 30px, // Розмір тексту тегу h2
    fz_h3: 24px, // Розмір тексту тегу h3
    fz_h4: 18px, // Розмір тексту тегу h4
    fz_h5: 14px, // Розмір тексту тегу h5
    fz_h6: 12px, // Розмір тексту тегу h6
    fw: 400, // Вага базового тексту
    fw_bold: 700, // Вага жирного тексту
    fw_light: 300, // Вага легкого тексту
    fs: normal, // Стиль базового тексту
    lh: 1.5, // Значення кеглю шрифта
);

// Набор кольорів
$g_Color:(
    // Звичайний текст
    text: black,// Головний колір тексту
    bd: gray,// Головний колір бордеру
    link: blue,// Головний колір текстового посилання
);

$g_Bg:(
    // Базові
    body: white, // Колір фону браузера
    page: white, // Колір фону сайту
    body_overlay: rgba(0,0,0,.7), // Напівпрозорий фон під мобільне меню чи попап
);

$g_Height:(
    header: 100px,// Висота шапки сайту
    header_tablet: 150px,// Висота шапки сайту
    header_desktop: 200px,// Висота шапки сайту
    footer: 100px,// Висота підвалу сайту
    footer_tablet: 150px,// Висота підвалу сайту
    footer_desktop: 200px,// Висота підвалу сайту
    logo: 85px,// Висота логотіпу
    logo_tablet: 85px,// Висота логотіпу
    logo_desktop: 85px,// Висота логотіпу
    sect: 200px,// Мінімальна висота секції
    sect_sb: 150px,// Мінімальна висота секції сайдбару
);

$g_Width:(
    // Структура
    sidebar: 200px, // Довжина сайдбару
    container: 1000px, // Довжина контенту
    logo: 100px, // Довжина логотіпу
);

$g_Size:(
    cols: 12,
    gutter: 15px,   
    bdrs: 4px,
);

$g_Int:(
    sect_v: 15px,// Вертикальний секційний відступ
    sect_sb_v: 15px,// Вертикальний секційний відступ в сайдбарі
    sect_h: 15px,// Горизонтальний секційний відступ
    sect_sb_h: 15px,// горизонтальний секційний відступ в сайдбарі
);

$g_Points:(
    xs: 320px,
    sm: 500px,
    md: 768px,
    lg: 1025px,
    xl: 1260px
);











// ***************************************
// Functions
// ***************************************
@function _f($var) {
    @return map_get($g_Font, $var);
}

@function _c($var) {
    @return map_get($g_Color, $var);
}

@function _bg($var) {
    @return map_get($g_Bg, $var);
}

@function _h($var) {
    @return map_get($g_Height, $var);
}

@function _w($var) {
    @return map_get($g_Width, $var);
}

@function _s($var) {
    @return map_get($g_Size, $var);
}

@function _i($var) {
    @return map_get($g_Int, $var);
}

@function _bp($var) {
    @return map_get($g_Points, $var);
}










// ***************************************
// Mixins
// ***************************************
// Міксін для підкладання зображення макету для полегшення роботи
// $img - Шлях до потрібного зображення
// $width - Довжина фонового зображення
@mixin bg_maket($img, $width) {
    background: url(#{$img}) no-repeat 50% 0;
    background-size: #{$width} auto;
    min-height: 100%;
}
// Міксін для візуалізації блоків при створенні
// $color - колір залівки поточного блоку
@mixin make_block($color: #0f0) {
    position: relative;
    border: 2px solid $color;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        opacity: .3;
        box-sizing: border-box;
    }
}
// Міксін для створення напівпрозорого фону для допоміжних частин сайту (напр. мобільне меню, чи попап)
@mixin bg_overlay() {
    &.opened {
        &:after {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: _bg(body_overlay);
        }
    }
}










// ***************************************
// Styles
// ***************************************

@mixin page-xs(){
    /* page xs */
    * {
        box-sizing: border-box;
    }
    html {
        height: 100%;
    }
    body {
        height: 100%;
        background-color: _bg(body);
        min-width: _bp(xs);
        font-size: _f(fz);
        font-family: _f(ff);
        color: _c(text);
        line-height: _f(lh);
        font-style: _f(fs);

        @include bg_overlay();
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: _f(fw_bold);
    }
    h1 {
        font-size: _f(fz_h1);
    }
    h2 {
        font-size: _f(fz_h2);
    }
    h3 {
        font-size: _f(fz_h3);
    }
    h4 {
        font-size: _f(fz_h4);
    }
    h5 {
        font-size: _f(fz_h5);
    }
    h6 {
        font-size: _f(fz_h6);
    }
    a {
        color: _c(link);
    }
    img {
        max-width: 100%;
        height: auto;
    }

    .page-wrapper {
        min-height: 100%;
        margin-bottom: -(_h(footer));
    }

    .page-header {
        @include make_block(red);
        min-height: _h(header);

        &__logo {
            height: _h(logo);
        }
    }

    .page-center {
        @include make_block(orange);
        padding-bottom: _h(footer);
    }

    .page-sidebar {
        @include make_block(aqua);

        &__item {
            @include make_block(olive);

            margin-bottom: _i(sect_sb_h);
            min-height: _h(sect_sb);
            padding: 0 _i(sect_sb_h);
        }
    }

    .page-content {
        @include make_block(lime);

        &__item {
            @include make_block(purple);
            margin-bottom: _i(sect_v);
            min-height: _h(sect);
            padding: 0 _i(sect_h);
        }
    }

    .page-footer {
        @include make_block(blue);
        min-height: _h(footer);
    }

    .flex-container {
        @include make_block(green);
        height: 100%;
        display: flex;
        flex-direction: row;
        // flex-direction: column;
        // flex-direction: row-reverse;
        // flex-direction: column-reverse;
        // align-items: stretch;
        align-items: flex-start;

        div {
            @include make_block(blue);
            padding: 10px;
        }
    }
}
@mixin page-sm(){
    // page sm
}
@mixin page-md(){
    // page md
}
@mixin page-lg(){
    // page lg
    .page-wrapper {
        margin-bottom: -(_h(footer_desktop));
    }
    .page-header {
        height: _h(header_desktop);
    }
    .page-center {
        padding-bottom: _h(footer_desktop);
    }
    .page-content {
        .page-sidebar ~ & {
            margin-left: _w(sidebar);
        }
        .page-sidebar--right ~ & {
            margin-right: _w(sidebar);
        }
    }
    .page-sidebar {
        float: left;
        width: _w(sidebar);

        &--right {
            float: right;
        }
    }
    .page-footer {
        height: _h(footer_desktop);
    }
}
@mixin page-xl(){
    // page xl
}
@mixin page-dev(){
    // page dev
}
@mixin page-mob(){
    // page mob
}
@mixin page-xso(){
    // page xso
}
@mixin page-smo(){
    // page smo
}
@mixin page-mdo(){
    // page mdo
}
@mixin page-lgo(){
    // page lgo
}