// @include page-xs();
// @include page-sm();
// @include page-md();
// @include page-lg();
// @include page-xl();
// @include page-dev();
// @include page-mob();
// @include page-xso();
// @include page-smo();
// @include page-mdo();
// @include page-lgo();

// ***************************************
// Mixins
// ***************************************

// Міксін для підкладання зображення макету для полегшення роботи
// $img - Шлях до потрібного зображення
// $width - Довжина фонового зображення
@mixin bg_maket($img, $width) {
    background: url(#{$img}) no-repeat 50% 0;
    background-size: #{$width} auto;
    min-height: 100%;
    max-width: $width;
    margin: 0 auto;
}

// Міксін для візуалізації блоків при створенні
// $color - колір залівки поточного блоку
@mixin make_block($color: #0f0) {
    position: relative;
    border: 2px solid $color;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        opacity: .3;
        box-sizing: border-box;
    }
}

// Міксін для створення напівпрозорого фону для допоміжних частин сайту (напр. мобільне меню, чи попап)
@mixin bg_overlay() {
    &.opened {
        &:after {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: _bg(body_overlay);
        }
    }
}










// ***************************************
// Styles
// ***************************************

@mixin page-xs(){
    /* page xs */
}
@mixin page-sm(){
    // page sm
}
@mixin page-md(){
    // page md
}
@mixin page-lg(){
    // page lg
}
@mixin page-xl(){
    // page xl
}
@mixin page-dev(){
    // page dev
}
@mixin page-mob(){
    // page mob
}
@mixin page-xso(){
    // page xso
}
@mixin page-smo(){
    // page smo
}
@mixin page-mdo(){
    // page mdo
}
@mixin page-lgo(){
    // page lgo
}