// @include page-xs();
// @include page-sm();
// @include page-md();
// @include page-lg();
// @include page-xl();
// @include page-dev();
// @include page-mob();
// @include page-xso();
// @include page-smo();
// @include page-mdo();
// @include page-lgo();

$e_page: (
    bg_header: #fff,
);

@function _page($var) {
    @return map_get($e_page, $var);
}

@mixin page-xs(){
    // page xs start
    .page-container {
        position: relative;
        width: 100%;
        max-width: _w(container);
        margin: 0 auto;
    }
    .page-header {
        background-color: _page(bg_header);
    }
    // page xs end
}
@mixin page-sm(){
    // page sm start
    // page sm end
}
@mixin page-md(){
    // page md start
    // page md end
}
@mixin page-lg(){
    // page lg start
    // page lg end
}
@mixin page-xl(){
    // page xl start
    // page xl end
}
@mixin page-dev(){
    // page dev start
    // page dev end
}
@mixin page-mob(){
    // page mob start
    // page mob end
}
@mixin page-xso(){
    // page xso start
    // page xso end
}
@mixin page-smo(){
    // page smo start
    // page smo end
}
@mixin page-mdo(){
    // page mdo start
    // page mdo end
}
@mixin page-lgo(){
    // page lgo start
    // page lgo end
}