// @include text-xs();
// @include text-sm();
// @include text-md();
// @include text-lg();
// @include text-xl();
// @include text-dev();
// @include text-mob();
// @include text-xso();
// @include text-smo();
// @include text-mdo();
// @include text-lgo();

@mixin text-xs(){
    // text xs
    * {
        box-sizing: border-box;
    }
    html,
    body {
        height: 100%;
    }
    body {
        min-width: _bp(xs);
        background-color: _bg(body);
        font-size: _f(fz);
        font-family: _f(ff);
        color: _c(text);
        line-height: _f(lh);
        font-style: _f(fs);

        @include bg_overlay();
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: _f(fw_bold);
    }
    h1 {
        font-size: _f(fz_h1);
    }
    h2 {
        font-size: _f(fz_h2);
    }
    h3 {
        font-size: _f(fz_h3);
    }
    h4 {
        font-size: _f(fz_h4);
    }
    h5 {
        font-size: _f(fz_h5);
    }
    h6 {
        font-size: _f(fz_h6);
    }
    a {
        color: _c(link);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
@mixin text-sm(){
    // text sm
}
@mixin text-md(){
    // text md
}
@mixin text-lg(){
    // text lg
}
@mixin text-xl(){
    // text xl
}
@mixin text-dev(){
    // text dev
}
@mixin text-mob(){
    // text mob
}
@mixin text-xso(){
    // text xso
}
@mixin text-smo(){
    // text smo
}
@mixin text-mdo(){
    // text mdo
}
@mixin text-lgo(){
    // text lgo
}