//- data.title - содержимое тега <title>
//- data.description - описание сайта
//- data.favicon - путь к фавикону для сайта
mixin head(data)
	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")

	title= data.title

	meta(content=data.description name="description")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	if data.favicon
		link(rel="shortcut icon" href=data.favicon type="image/x-icon")

	link(rel="stylesheet" href="css/main.css")