//- data.title - {string} содержимое тега <title>
//- data.description - {string} описание сайта
//- data.favicon - {string} путь к фавикону для сайта
//- data.hasLibCss - {boolean} Проверка на наличие библиотек CSS
mixin head(data)
	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")

	title= data.title

	meta(content=data.description name="description")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	if data.favicon
		link(rel="shortcut icon" href=data.favicon type="image/x-icon")

	- var hasLibCss = data.hasLibCss
	if (hasLibCss)
		link(rel="stylesheet" href="css/lib.min.css")

	link(rel="stylesheet" href="css/main.css")