include ../../components/copyright/copyright
include ../../components/nav-bottom/nav-bottom
include ../../components/footer-icons/footer-icons
include ../../components/footer-phones/footer-phones

-
    dataNav = [
        "About us",
        "Testimonials",
        "FAQ",
        "Policy",
        "Contact us",
    ];

-
    dataIcons = [
        "mcAfee",
        "geotrust",
        "ssl",
        "payment",
    ];

-
    dataPhones = [
        "bottom-phone-us",
        "bottom-phone-uk",
    ];

mixin footer(data)
    // footer START
    +b.footer
        +e.top-row
            .page__container
                +e.copyright
                    +copyright()
                +e.nav
                    +nav-bottom(dataNav)
        +e.bottom-row
            .page__container
                +e.icons
                    +footer-icons(dataIcons)
                +e.phones
                    +footer-phones(dataPhones)
    // footer END