.header {

    @media #{$sm} {
        margin-bottom: 20px;
    }

    &__top-line {
        background-color: $c_brand;
        text-align: center;

        @media #{$md} {
            background-color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        }

        .page__container {
            @media #{$md} {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__link-to-desktop {
        color: #fff;
        text-decoration: none;
        line-height: 2.666666667em;
        text-transform: uppercase;
        font-size: $fz_sm;

        @media #{$md} {
            display: none;
        }

        &:hover {
            text-decoration: underline;
        }

        svg {
            margin-left: 8px;
            fill: #fff;
        }
    }

    &__nav,
    &__bonus,
    &__block-contacts,
    &__buy-now,
    &__girl,
    &__row-services {
        display: none;
    }

    &__nav,
    &__bonus {
        @media #{$md} {
            display: flex;
        }
    }

    &__row-first {
        align-items: center;
        padding-top: 16px;
        margin-bottom: 12px;

        .page__container {
            display: flex;
            flex-direction: column;

            @media #{$sm} {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;
        width: 260px;
        margin-bottom: 16px;

        @media #{$sm} {
            margin-bottom: 0;
            margin-left: 0;
            display: flex;
            align-items: center;
        }

        @media #{$md} {
            width: 392px;
        }
    }

    &__select-title {
        display: none;

        @media #{$md} {
            display: block;
            color: $c_gray_dark;
            font-size: 0.75em;
            font-weight: 500;
        }
    }

    &__block-select {
        @media #{$md} {
            margin-right: 20px;
            width: 170px;
        }
    }

    &__select-content {
        display: flex;
    }

    &__block-contacts {
        @media #{$md} {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    &__row-second {
        background-color: #fff;

        .page__container {
            @media #{$sm} {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            @media #{$md} {
                position: relative;
            }
        }
    }

    &__row-services {
        @media #{$sm} {
            display: block;
        }
    }

    &__buy-now {
        @media #{$sm} {
            display: block;
        }
    }

    &__girl {
        @media #{$md} {
            display: block;
            position: absolute;
            width: 203px;
            height: 203px;
            background: url("../img/girl.png") no-repeat 0 0;
            bottom: 0;
            left: 50%;
            transform: translate(-30%, 0);
        }
    }

    &__row-search {
        background-color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
        box-shadow: 0px 0px 8px rgba(18, 42, 55, 0.15);

        @media #{$sm} {
            background-color: $c_bgBody;
            box-shadow: none;
        }
    }
}