include ../../components/select/select
include ../../components/shopping-cart/shopping-cart
include ../../components/search/search
include ../../components/buy-now/buy-now
include ../../components/services/services
include ../../components/nav/nav
include ../../components/bonus/bonus

-
    dataLanguage = {
        label: "Language",
        vals: [
            {val: "Čeština"},
            {val: "Dansk"},
            {val: "Nederlands"},
            {val: "English", isSelected: true},
            {val: "Suomi"},
            {val: "Français"},
            {val: "Deutsch"},
            {val: "Ελληνικά"},
            {val: "Magyar"},
            {val: "Italiano"},
            {val: "日本語 Nihongo"},
            {val: "Norsk"},
            {val: "Polski"},
            {val: "Português"},
            {val: "Español"},
            {val: "Svenska"},
            {val: "Türkçe"},
        ]
    };

-
    dataCurrency = {
        label: "Currency",
        vals: [
            {val: "USD", isSelected: true},
            {val: "EUR"},
            {val: "AUD"},
            {val: "CAD"},
            {val: "NZD"},
            {val: "JPY"},
            {val: "BRL"},
            {val: "ARS"},
            {val: "MXN"},
            {val: "ZAR"},
            {val: "SGD"},
            {val: "GBP"},
            {val: "NOK"},
            {val: "SEK"},
            {val: "DKK"},
            {val: "PLN"},
            {val: "CZK"},
            {val: "RON"},
            {val: "HUF"},
            {val: "CHF"},
            {val: "AED"},
            {val: "SAR"},
            {val: "TRY"},
        ]
    };

-
    dataSearchByLetter = [
        "a",
        "b",
        "c",
        "d",
        "e",
        "f",
        "g",
        "h",
        "i",
        "j",
        "k",
        "l",
        "m",
        "n",
        "o",
        "p",
        "q",
        "r",
        "s",
        "t",
        "u",
        "v",
        "w",
        "x",
        "y",
        "z"
    ];

-
    dataServices = [
        {src: "./img/langs.png", title: "17 Languages", desc: "available on the website"},
        {src: "./img/earth.png", title: "128 countries", desc: "with healthy happy customers"},
        {src: "./img/guarantee.png", title: "100%", desc: "Satisfaction Guarantee"},
    ];

-
    dataNav = [
        "About us",
        "Testimonials",
        "FAQ",
        "Policy",
        "Contact us"
    ];

mixin header()
    // header START
    +b.header
        +e.top-line
            .page__container
                +e.A.link-to-desktop(href="#") Desktop version
                    svg(width="25" height="8")
                        use(xlink:href="#i-arrow-to-desktop")
                +e.nav
                    +nav(dataNav)
                +e.bonus
                    +bonus()

        +e.row-first
            .page__container
                +e.A.logo
                    img(src="./img/svg/i-logo.svg", alt="logo")
                +e.block-select
                    +e.select-title LANGUAGE&CURRENCY
                    +e.select-content
                        +select(dataLanguage)
                        +select(dataCurrency)
                +e.block-contacts
                    img(src="./img/phone_us.png" alt="")
                    img(src="./img/phone_uk.png" alt="")

        +e.row-second
            .page__container
                +e.buy-now
                    +buy-now()
                +e.girl
                +e.shopping-cart
                    +shopping-cart()

        +e.row-services
            .page__container
                +services(dataServices)

        +e.row-search
            .page__container
                +search(dataSearchByLetter)
    // header END