include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Test page",
				"author": "Ruslan",
				"description": "Workshop"
			})
			
		body

			block header
				+header()
					
			block content
				div CONTENT

			block footer
				footer FOOTER
			
			block vendors
				// build:js js/vendor.js
				//- script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
