.page {

    & > svg {
        display: none;
    }

    &__container {
        width: 100%;
        max-width: $w_layout;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__content {
        .page__container {
            @media #{$sm} {
                display: flex;
            }
        }
    }

    &__aside {
        margin-bottom: 15px;
        
        @media #{$sm} {
            width: 235px;
            margin-right: 15px;
        }
    }

    &__main {

        h1 {
            margin-top: 0;
        }

        @media #{$sm} {
            min-height: 200px;
            flex-grow: 1;
        }
    }

    &__title--accent {
        color: $c_accent;
    }
}