include ../../abstracts/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../base/head
include ../../layout/header/header
include ../../layout/footer/footer
include ../../layout/main-index/main-index
include ../../components/catalog/catalog
include ../../components/soc-notes/soc-notes
include ../../components/banner-free-shipping/banner-free-shipping
include ../../components/product/product
include ../../components/btn/btn

-
    var dataHead = {
        "title": "Title",
        "description": "Description",
        "hasCssLibs": false //- Включаем, если есть сторонние CSS-библиотеки
    }

-
    const dataCatalog = [
        {
            cat: "Bestsellers",
            prods: [
                {name: "Viagra", price: "$0.52"},
                {name: "Cialis", price: "$0.52"},
                {name: "Clomid", price: "$0.52"},
                {name: "ED Sample Pack", price: "$0.52"},
                {name: "Brand Viagra", price: "$0.52"},
                {name: "Doxycycline", price: "$0.52"},
                {name: "Propecia", price: "$0.52"},
                {name: "Levitra", price: "$0.52"},
                {name: "Amoxil", price: "$0.52"},
                {name: "Viagra Professional", price: "$0.52"},
                {name: "Prednisone", price: "$0.52"},
                {name: "Brand Cialis", price: "$0.52"},
                {name: "Dapoxetine", price: "$0.52"},
                {name: "Nolvadex", price: "$0.52"},
                {name: "Cytotec", price: "$0.52"},
            ]
        },
        {
            cat: "Erectile Dysfunction",
            prods: [
                {name: "Viagra", price: "$0.52"},
                {name: "Cialis", price: "$0.52"},
                {name: "Clomid", price: "$0.52"},
                {name: "ED Sample Pack", price: "$0.52"},
                {name: "Brand Viagra", price: "$0.52"},
                {name: "Doxycycline", price: "$0.52"},
                {name: "Propecia", price: "$0.52"},
                {name: "Levitra", price: "$0.52"},
                {name: "Amoxil", price: "$0.52"},
                {name: "Viagra Professional", price: "$0.52"},
                {name: "Prednisone", price: "$0.52"},
                {name: "Brand Cialis", price: "$0.52"},
                {name: "Dapoxetine", price: "$0.52"},
                {name: "Nolvadex", price: "$0.52"},
                {name: "Cytotec", price: "$0.52"},
            ]
        },
        {
            cat: "Allergies",
            prods: [
                {name: "Viagra", price: "$0.52"},
                {name: "Cialis", price: "$0.52"},
                {name: "Clomid", price: "$0.52"},
                {name: "ED Sample Pack", price: "$0.52"},
                {name: "Brand Viagra", price: "$0.52"},
                {name: "Doxycycline", price: "$0.52"},
                {name: "Propecia", price: "$0.52"},
                {name: "Levitra", price: "$0.52"},
                {name: "Amoxil", price: "$0.52"},
                {name: "Viagra Professional", price: "$0.52"},
                {name: "Prednisone", price: "$0.52"},
                {name: "Brand Cialis", price: "$0.52"},
                {name: "Dapoxetine", price: "$0.52"},
                {name: "Nolvadex", price: "$0.52"},
                {name: "Cytotec", price: "$0.52"},
            ]
        },
        {
            cat: "Erectile Dysfunction",
            prods: [
                {name: "Viagra", price: "$0.52"},
                {name: "Cialis", price: "$0.52"},
                {name: "Clomid", price: "$0.52"},
                {name: "ED Sample Pack", price: "$0.52"},
                {name: "Brand Viagra", price: "$0.52"},
                {name: "Doxycycline", price: "$0.52"},
                {name: "Propecia", price: "$0.52"},
                {name: "Levitra", price: "$0.52"},
                {name: "Amoxil", price: "$0.52"},
                {name: "Viagra Professional", price: "$0.52"},
                {name: "Prednisone", price: "$0.52"},
                {name: "Brand Cialis", price: "$0.52"},
                {name: "Dapoxetine", price: "$0.52"},
                {name: "Nolvadex", price: "$0.52"},
                {name: "Cytotec", price: "$0.52"},
            ]
        },
        {
            cat: "Allergies",
            prods: [
                {name: "Viagra", price: "$0.52"},
                {name: "Cialis", price: "$0.52"},
                {name: "Clomid", price: "$0.52"},
                {name: "ED Sample Pack", price: "$0.52"},
                {name: "Brand Viagra", price: "$0.52"},
                {name: "Doxycycline", price: "$0.52"},
                {name: "Propecia", price: "$0.52"},
                {name: "Levitra", price: "$0.52"},
                {name: "Amoxil", price: "$0.52"},
                {name: "Viagra Professional", price: "$0.52"},
                {name: "Prednisone", price: "$0.52"},
                {name: "Brand Cialis", price: "$0.52"},
                {name: "Dapoxetine", price: "$0.52"},
                {name: "Nolvadex", price: "$0.52"},
                {name: "Cytotec", price: "$0.52"},
            ]
        },
        {
            cat: "Erectile Dysfunction",
            prods: [
                {name: "Viagra", price: "$0.52"},
                {name: "Cialis", price: "$0.52"},
                {name: "Clomid", price: "$0.52"},
                {name: "ED Sample Pack", price: "$0.52"},
                {name: "Brand Viagra", price: "$0.52"},
                {name: "Doxycycline", price: "$0.52"},
                {name: "Propecia", price: "$0.52"},
                {name: "Levitra", price: "$0.52"},
                {name: "Amoxil", price: "$0.52"},
                {name: "Viagra Professional", price: "$0.52"},
                {name: "Prednisone", price: "$0.52"},
                {name: "Brand Cialis", price: "$0.52"},
                {name: "Dapoxetine", price: "$0.52"},
                {name: "Nolvadex", price: "$0.52"},
                {name: "Cytotec", price: "$0.52"},
            ]
        },
    ]

doctype html
html(lang="ru")

    block head
        head
            +head(dataHead)

    +b.BODY.page
        include ../../img/svg/symbol/sprite.svg

        +e.HEADER.header
            block header
                +header()

        +e.content
            block content
                +e.container
                    +e.ASIDE.aside
                        +catalog(dataCatalog)
                        +banner-free-shipping()
                        +soc-notes()

                    +e.MAIN.main
                        block main
                            div Main
        
        +e.FOOTER.footer
            block footer
                +footer()

        block scripts
            //- script(src="js/libs.min.js") //- Включаем, если есть сторонние JS-библиотеки
            script(src="js/main.js")