include ../../abstracts/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../base/head

//- include ../../components/example/example

-
    const dataHead = {
        "title": "Title",
        "description": "Description",
        "hasCssLibs": false //- Including, if we have other CSS-labs
    }

doctype html
html(lang="ru")

    block head
        head
            +head(dataHead)

    +b.BODY.page

        +e.wrapper
            block content
                h1 Content

        block scripts
            //- script(src="js/libs.min.js") //- Including, if we have other JS-labs
            script(src="js/main.js")