//- - var maket = 'l-sidebar'
//- - var maket = 'r-sidebar'
//- - var maket = 'two-sidebars'
//- - var maket = 'one-column'
- var maket = 'landing'
case maket
	when 'l-sidebar'
		.page-center
			.page-container
				asign.l-sidebar
					section.l-sidebar__item
						header.l-sidebar__item-header
							h2.l-sidebar__item-title Left
						.l-sidebar__item-body Left content
				main.content
					section.content__item
						header.content__item-header
							h2.content__item-title Center
						.content__item-body Center content
	when 'r-sidebar'
		.page-center
			.page-container
				asign.r-sidebar
					section.r-sidebar__item
						header.r-sidebar__item-header
							h2.r-sidebar__item-title Right
						.r-sidebar__item-body Right content
				main.content
					section.content__item
						header.content__item-header
							h2.content__item-title Center
						.content__item-body Center content
	when 'two-sidebars'
		.page-center
			.page-container
				asign.l-sidebar
					section.l-sidebar__item
						header.l-sidebar__item-header
							h2.l-sidebar__item-title Left
						.l-sidebar__item-body Left content
				asign.r-sidebar
					section.r-sidebar__item
						header.r-sidebar__item-header
							h2.r-sidebar__item-title Right
						.r-sidebar__item-body Right content
				main.content
					section.content__item
						header.content__item-header
							h2.content__item-title Center
						.content__item-body Center content
	when 'one-column'
		.page-center
			.page-container
				main.content
					section.content__item
						header.content__item-header
							h2.content__item-title Center
						.content__item-body Center content
	when 'landing'
		.page-center
			section.page-center__item
				.page-container
					.content
						header.content__item-header
							h2.content__item-title Center
						.content__item-body Center content