doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
		//- link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet" href="css/style.css")

		title
			block title
	body
		.page-outer-wrapper
			.page-inner-wrapper
				include ../layout/header
				block content
		include ../layout/footer
		//- script(src="js/libs.min.js")
		script(src="js/main.js")
