.btn {
	font-size: _font('btn-size');
	line-height: _font('line-height');
	color: _palette('btn-color');
	background: _palette('btn-bg');
	padding: 0;
	display: inline-block;
	outline: none;
	text-decoration: none;
	user-select: none;
	border: none;
	border-radius: _size('btn-bd-radius');

	&:hover {
		background: _palette('btn-bg-hover');
	}

	&:active {
		background: _palette('btn-bg-active');
	}
}