// @include banner-xs();
// @include banner-sm();
// @include banner-md();
// @include banner-lg();
// @include banner-xl();
// @include banner-dev();
// @include banner-mob();
// @include banner-xso();
// @include banner-smo();
// @include banner-mdo();
// @include banner-lgo();

$e_banner: (
    // Base
    h: 172px,                               // height
    ff: ('Boogaloo', cursive),              //font-family
    ffSec: ('Permanent Marker', cursive),   // second font-family
    lh: 1.3,                                //line-height
    fzH1: 26px,                             //font-size <h1>
    fzH1Small: 24px,                        // font-size <h1> for mobile
    h1Mb: 5px,                              // margin-bottom <h1>
    h1MbSmall: 5px,                         // margin-bottom <h1> for mobile
    fzH2: 36px,                             // font-size <h2>
    fzH2Small: 30px,                        // font-size <h2> for mobile
    c: #fff,                                // color
    cGold: #ffff69,                         // color for .gold
    
    // Background
    bgI: 'bg.png',          // background-image for background
    bgIRepeat: repeat-x,    // background-repeat for background
    bg: #fff,               // background-color for background
    
    // Top Border
    hasBdTop: false,        // has border top
    bdTopH: 22px,           // height border top
    bdTopI: 'bg_top.png',   // background-image for border top
    
    // Bottom Border
    hasBdBottom: false,         // has border bottom
    bdBottomH: 22px,            // height border bottom
    bdBottomI: 'bg_bottom.png', // background-image for border bottom
    
    // Left Element
    hasElL: true,           // has left element
    elLW: 329px,            // width left element
    elLWSmall: 150px,       // width left element for mobile
    elLH: 100%,             // height left element
    elLI: 'el_left.png',    // background-image for left element
    elLT: 0,                // offset top for left element
    elLL: 0,                // offset left for left element
    elLBgPos: (0 100%),     // background-position left element
    elLBgSz: contain,       // background-size left element
    
    // Right Element
    hasElR: false,          // has right element
    elRW: 112px,            // width right element
    elRWSmall: 76px,        // width right element for mobile
    elRH: 100%,             // height right element
    elRI: 'el_right.png',   // background-image for right element
    elRT: 0,                // offset top for right element
    elRR: 0,                // offset right for right element
    elRBgPos: (0 100%),     // background-position right element
    elRBgSz: contain        // background-size right element
);

@function _banner($var) {
    @return map_get($e_banner, $var);
}

%bd {
    position: absolute;
    left: 0;
    width: 100%;
    height: _banner(bdTopH);
    background-repeat: repeat-x;
    z-index: 1;
}

%el {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    display: none;
    z-index: 2;
}

@mixin banner-xs(){
/* banner xs START */
    .banner{
        height: _banner(h);
        margin: 0;
        position: relative;
        
        @if _banner(hasBdTop) {
            &__top-bd {
                @extend %bd;
                
                background-image: url(../img/#{_banner(bdTopI)});
                top: 0;
            }
        }
        
        @if _banner(hasBdBottom) {
            &__bottom-bd {
                @extend %bd;
                
                background-image: url(../img/#{_banner(bdBottomI)});
                bottom: 0;
            }
        }
        
        &__content {
            margin-left: 0;
            margin-right: 0;
            padding: 0 15px;
            font-family: _banner(ff);
            text-align: center;
            height: 100%;
            position: relative;
            background: _banner(bg) url(../img/#{_banner(bgI)}) _banner(bgIRepeat) 50% 0;
            
            @if _banner(hasElL) {
                &:before {
                    @extend %el;
                    
                    bottom: _banner(elLT);
                    left: _banner(elLL);
                    width: _banner(elLWSmall);
                    height: _banner(elLH);
                    background-image: url(../img/#{_banner(elLI)});
                    background-position: _banner(elLBgPos);
                    background-size: _banner(elLBgSz);
                }
            }
            
            @if _banner(hasElR) {
                &:after {
                    @extend %el;
                    
                    bottom: _banner(elRT);
                    right: _banner(elRR);
                    width: _banner(elRWSmall);
                    height: _banner(elRH);
                    background-image: url(../img/#{_banner(elRI)});
                    background-position: _banner(elRBgPos);
                    background-size: _banner(elRBgSz);
                }
            }
        }

        &__text {
            display: table;
            width: 100%;
            margin: 0;
            color: _banner(c);
            height: 100%;
            position: relative;
            z-index: 3;
            
            h1,
            h2 {
                margin: 0;
                line-height: _banner(lh);
            }
            
            h1 {
                font-size: _banner(fzH1Small);
                margin-bottom: _banner(h1MbSmall);
            }
            
            h2 {
                font-size: _banner(fzH2Small);
                font-family: _banner(ffSec);
            }
            
            .gold,
            .holiday {
                color: _banner(cGold);
            }
            
            span {
                text-transform: uppercase;
            }
        }

        &__al-middle {
            display: table-cell;
            vertical-align: middle;
        }
    }
/* banner xs END */
}
@mixin banner-sm(){
/* banner sm START */
    .banner{
        &__content {
            @if _banner(hasElR) {
                &:after {
                    display: block;
                }
            }
            @if _banner(hasElL) {
                &:before {
                    display: block;
                }
            }
        }
        &__text {
            @if _banner(hasElR) {
                padding-right: _banner(elRWSmall);
            }
            @if _banner(hasElL) {
                padding-left: _banner(elLWSmall);
            }
        }
    }
/* banner sm END */
}
@mixin banner-md(){
/* banner md START */
    .banner{
        &__content {
            @if _banner(hasElR) {
                &:after {
                    width: _banner(elRW);
                }
            }
            @if _banner(hasElL) {
                &:before {
                    width: _banner(elLW);
                }
            }
        }
        &__text {
            @if _banner(hasElR) {
                padding-right: _banner(elRW);
            }
            
            @if _banner(hasElL) {
                padding-left: _banner(elLW);
            }
            
            h1 {
                font-size: _banner(fzH1);
                margin-bottom: _banner(h1Mb);
            }
            
            h2 {
                font-size: _banner(fzH2);
            }
        }
    }
/* banner md END */
}
@mixin banner-lg(){
/* banner lg START */
    .banner{}
/* banner lg END */
}
@mixin banner-xl(){
/* banner xl START */
    .banner{}
/* banner xl END */
}
@mixin banner-dev(){
/* banner dev START */
    .banner{}
/* banner dev END */
}
@mixin banner-mob(){
/* banner mob START */
    .banner{}
/* banner mob END */
}
@mixin banner-xso(){
/* banner xso START */
    .banner{}
/* banner xso END */
}
@mixin banner-smo(){
/* banner smo START */
    .banner{}
/* banner smo END */
}
@mixin banner-mdo(){
/* banner mdo START */
    .banner{}
/* banner mdo END */
}
@mixin banner-lgo(){
/* banner lgo START */
    .banner{}
/* banner lgo END */
}