// data {Object}
// +main-menu({
//     'textBtn': 'Меню',
//     'menuList': [
//         {
//             'title': 'Главная',
//             'href': '#',
//             'isActive': true
//         }
//     ]
// })
// data.textBtn {String} - Текст кнопки управления мобильным меню
// data.menuList {Array} - Массив с содержимым элементов (item) меню
// item.title {String} - Содержимое тега <A>
// item.href {String} - Содержимое атрибута 'href' тега <A>
// item.isActive {Boolean} - Устанавливает класс 'active' на активный элемент списка <LI>
mixin main-menu(data)
    //.main-menu START
    +b.main-menu
        +e.NAV.component
            +e.BUTTON.toggle.js-mainMenuToggle= data.textBtn
                +e.SPAN.toggle-item--top
                +e.SPAN.toggle-item--middle
                +e.SPAN.toggle-item--bottom
            +e.UL.list
                each item in data.menuList
                    +e.LI.item(class= item.isActive ? 'active' : '')
                        +e.A.link(href= item.href)= item.title
    //.main-menu END