// @include menu-xs();
// @include main-menu-sm();
// @include main-menu-md();
// @include main-menu-lg();
// @include main-menu-xl();
// @include main-menu-dev();
// @include main-menu-mob();
// @include main-menu-xso();
// @include main-menu-smo();
// @include main-menu-mdo();
// @include main-menu-lgo();

$e_main-menu: (
  // Общие настройки
  is_horisontal: true,// {Boolean} - Является ли меню на десктопе горизонтальным
        // true: да
        // false: нет
  has_active_item: true,// {Boolean} - Указывает имеем ли стили для активного элемента списка <LI>
        // true: да
        // false: нет
  align_list: 'justify',// {String} - Выравнивание меню на десктопе
        // 'left': по левому краю
        // 'right': по правому краю
        // 'center': по центру
        // 'justify': растянуто по ширине
  type_mobile: 'simple_show',// {String} - Тип появления мобильного меню
        // 'simple_show': Простое появление (мгновенно появляется - мгновенно исчезает)
  size_desktop: 'md',// {String} - Разрешение экрана, при котором переход из мобильного на десктоп
        // 'md': Middle. При планшетном разрешении
        // 'lg': Large. При десктопном разрешении

  // Размеры
  fz: 14px,// font-size <LI>
  fz_act: 14px,// font-size <LI.active>
  lh_item: 40px,// line-height <LI>
  p_list: 0,// padding <UL>
  p_link: 0 10px,// padding <A>
  w_toggle: 40px,// width <.menu__toggle> (кнопка гамбургера)
  h_toggle: 40px,// height <.menu__toggle> (кнопка гамбургера)
  w_toggle-item: 80%,// width <.menu__toggle-item> (полоска гамбургера)
  h_toggle-item: 3px,// height <.menu__toggle-item> (полоска гамбургера)

  // Цвета
  bg_link: #c3c3c3,// background-color <A>
  bg_link_hv: #d0d0d0,// background-color <A>:hover
  bg_link_act:  #c3c3c3,// background-color <LI.active A>
  bg_link_act_hv:  #d0d0d0,// background-color <LI.active A>:hover
  bg_list: #ccc,// background-color <UL>
  bg_toggle: #00f,// background-color <.menu__toggle> (кнопка гамбургера)
  bg_toggle-item: #fff,// background-color <.menu__toggle-item> (полоска гамбургера)
  c_link: #000,// color <A>
  c_link_hv: #000,// color <A>:hover
  c_link_act: #000,// color <A.active>
  c_link_act_hv: #000,// color <A.active>:hover

  // Другое оформление
  bdrs_toggle-item: 3px,// border-radius <.menu__toggle-item> (полоска гамбургера)
  inst_toggle-item: 10px,// Отступ пежду полосками гамбургера
  td: none,// text-decoration <A>
  td_hv: underline,// text-decoration <A>:hover
  td_act: none,// text-decoration <LI.active A>
  td_act_hv: underline,// text-decoration <LI.active A>:hover
);

@function _main-menu($var) {
  @return map_get($e_main-menu, $var);
}

@mixin _main-menu_drawDesktop($align_list) {
  font-size: 0;
  line-height: 0;
  @if $align_list == 'left' {
    text-align: left;
  }
  @else if $align_list == 'right' {
    text-align: right;
  }
  @else if $align_list == 'center' {
    text-align: center;
  }
  @else if $align_list == 'justify' {
    text-align: justify;

    &:after {
      content: '';
      visibility: hidden;
      overflow: hidden;
      width: 100%;
      display: inline-block;
      height: 0;
    }
  }
}

@mixin menu-xs() {
  // main-menu xs start
  .menu {
    &__component {
      position: relative;
    }
    &__list {
      margin: 0;
      padding: _main-menu(p_list);
      background-color: _main-menu(bg_list);

      @if _main-menu(type_mobile) == 'simple_show' {
        display: none;

        &.active {
          display: block;
        }
      }
    }
    &__item {
      list-style-type: none;
      font-size: _main-menu(fz);
      display: block;

      @if _main-menu(has_active_item) {
        &.active {
          font-size: _main-menu(fz_act);

          .menu__link {
            color: _main-menu(c_link_act);
            background-color: _main-menu(bg_link_act);
            text-decoration: _main-menu(td_act);

            &:hover {
              color: _main-menu(c_link_act_hv);
              background-color: _main-menu(bg_link_act_hv);
              text-decoration: _main-menu(td_act_hv);
            }
          }
        }
      }
    }
    &__link {
      display: block;
      line-height: _main-menu(lh_item);
      padding: _main-menu(p_link);
      text-decoration: _main-menu(td);
      color: _main-menu(c_link);
      background-color: _main-menu(bg_link);

      &:hover {
        text-decoration: _main-menu(td_hv);
        background-color: _main-menu(bg_link_hv);
        color: _main-menu(c_link_hv);
      }
    }
    &__toggle {
      position: relative;
      width: _main-menu(w_toggle);
      height: _main-menu(h_toggle);
      background-color: _main-menu(bg_toggle);
      cursor: pointer;

      &.active {
        .menu__toggle-item {
          &--top {
            top: _main-menu(h_toggle)/2 - ceil(_main-menu(h_toggle-item)/2);
            transform: rotate(45deg);
          }
          &--middle {
            display: none;
          }
          &--bottom {
            top: _main-menu(h_toggle)/2 - ceil(_main-menu(h_toggle-item)/2);
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__toggle-item {
      position: absolute;
      display: block;
      width: _main-menu(w_toggle-item);
      left: (100% - _main-menu(w_toggle-item))/2;
      height: _main-menu(h_toggle-item);
      background-color: _main-menu(bg_toggle-item);
      -webkit-border-radius: _main-menu(bdrs_toggle-item);
      -moz-border-radius: _main-menu(bdrs_toggle-item);
      border-radius: _main-menu(bdrs_toggle-item);

      &--top {
        top: _main-menu(h_toggle)/2 - ceil(_main-menu(h_toggle-item)/2) - _main-menu(inst_toggle-item);
      }

      &--middle {
        top: _main-menu(h_toggle)/2 - ceil(_main-menu(h_toggle-item)/2);
      }

      &--bottom {
        top: _main-menu(h_toggle)/2 - ceil(_main-menu(h_toggle-item)/2) + _main-menu(inst_toggle-item);
      }
    }
  }
  // main-menu xs end
}

@mixin menu-sm() {
  // main-menu sm start
  .menu {}
  // main-menu sm end
}

@mixin menu-md() {
  // main-menu md start
  .menu {
    @if _main-menu(size_desktop) == 'md' {
      &__list {
        display: block;

        @include _main-menu_drawDesktop(_main-menu(align_list));
      }
      &__item {
        @if _main-menu(is_horisontal) {
          display: inline-block;
          vertical-align: top;
        }
      }
      &__toggle {
        display: none;
      }
    }
  }
  // main-menu md end
}

@mixin menu-lg() {
  // main-menu lg start
  .menu {
      @if _main-menu(size_desktop) == 'lg' {
        &__list {
          display: block;

          @include _main-menu_drawDesktop(_main-menu(align_list));
        }
        &__item {
          @if _main-menu(is_horisontal) {
            display: inline-block;
            vertical-align: top;
          }
        }
        &__toggle {
          display: none;
        }
      }
  }
  // main-menu lg end
}

@mixin menu-xl() {
  // main-menu xl start
  .menu {}
  // main-menu xl end
}

@mixin menu-dev() {
  // main-menu dev start
  .menu {}
  // main-menu dev end
}

@mixin menu-mob() {
  // main-menu mob start
  .menu {}
  // main-menu mob end
}

@mixin menu-xso() {
  // main-menu xso start
  .menu {}
  // main-menu xso end
}

@mixin menu-smo() {
  // main-menu smo start
  .menu {}
  // main-menu smo end
}

@mixin menu-mdo() {
  // main-menu mdo start
  .menu {}
  // main-menu mdo end
}

@mixin menu-lgo() {
  // main-menu lgo start
  .menu {}
  // main-menu lgo end
}