// data {Object}
// hasTopBd {Boolean} - Указывает на наличие верхнего бордера
// hasBottomBd {Boolean} - Указывает на наличие нижнего бордера
// text {String} - Текст баннера
mixin adapt-banner(data)
    +b.banner
        if data.hasTopBd
            +e.top-bd
        if data.hasBottomBd
            +e.bottom-bd
        +e.content
            +e.text
                +e.text-inner
                    h1
                        | Get&nbsp;
                        span.gold 5% OFF
                        |  on Holidays! Use&nbsp;
                        span.gold 5OFF
                        |  coupon on billing page!
                    h2.holiday= data.text