@mixin base {
    /* Tags */
    body {
        font-family: _font(family);
        font-size: _font(size);
        line-height: _font(line-height);
        color: _palette(font-color);
        background-color: _palette(bg);
    }
    a {
        color: _palette(font-link);
        text-decoration: underline;
        outline: none;

        &:hover {
            text-decoration: none;
        }
    }
}







.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}



.col {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11,
    &-12 {
        position: relative;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &-1 { width: 8.333333333%; }
    &-2 { width: 16.666666667%; }
    &-3 { width: 25%; }
    &-4 { width: 33.333333333%; }
    &-5 { width: 41.666666667%; }
    &-6 { width: 50%; }
    &-7 { width: 58.333333333%; }
    &-8 { width: 66.666666667%; }
    &-9 { width: 75%; }
    &-10 { width: 83.333333333%; }
    &-11 { width: 91.666666667%; }
    &-12 { width: 100%; }
}

@mixin base-sm {
    .col-sm {
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6,
        &-7,
        &-8,
        &-9,
        &-10,
        &-11,
        &-12 {
            position: relative;
            float: left;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        &-1 { width: 8.333333333%; }
        &-2 { width: 16.666666667%; }
        &-3 { width: 25%; }
        &-4 { width: 33.333333333%; }
        &-5 { width: 41.666666667%; }
        &-6 { width: 50%; }
        &-7 { width: 58.333333333%; }
        &-8 { width: 66.666666667%; }
        &-9 { width: 75%; }
        &-10 { width: 83.333333333%; }
        &-11 { width: 91.666666667%; }
        &-12 { width: 100%; }
    }
}

@mixin base-md {
    .col-md {
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6,
        &-7,
        &-8,
        &-9,
        &-10,
        &-11,
        &-12 {
            position: relative;
            float: left;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        &-1 { width: 8.333333333%; }
        &-2 { width: 16.666666667%; }
        &-3 { width: 25%; }
        &-4 { width: 33.333333333%; }
        &-5 { width: 41.666666667%; }
        &-6 { width: 50%; }
        &-7 { width: 58.333333333%; }
        &-8 { width: 66.666666667%; }
        &-9 { width: 75%; }
        &-10 { width: 83.333333333%; }
        &-11 { width: 91.666666667%; }
        &-12 { width: 100%; }
    }
}

@mixin base-lg {
    .col-lg {
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6,
        &-7,
        &-8,
        &-9,
        &-10,
        &-11,
        &-12 {
            position: relative;
            float: left;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        &-1 { width: 8.333333333%; }
        &-2 { width: 16.666666667%; }
        &-3 { width: 25%; }
        &-4 { width: 33.333333333%; }
        &-5 { width: 41.666666667%; }
        &-6 { width: 50%; }
        &-7 { width: 58.333333333%; }
        &-8 { width: 66.666666667%; }
        &-9 { width: 75%; }
        &-10 { width: 83.333333333%; }
        &-11 { width: 91.666666667%; }
        &-12 { width: 100%; }
    }
}

@mixin base-xl {
    .col-xl {
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6,
        &-7,
        &-8,
        &-9,
        &-10,
        &-11,
        &-12 {
            position: relative;
            float: left;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        &-1 { width: 8.333333333%; }
        &-2 { width: 16.666666667%; }
        &-3 { width: 25%; }
        &-4 { width: 33.333333333%; }
        &-5 { width: 41.666666667%; }
        &-6 { width: 50%; }
        &-7 { width: 58.333333333%; }
        &-8 { width: 66.666666667%; }
        &-9 { width: 75%; }
        &-10 { width: 83.333333333%; }
        &-11 { width: 91.666666667%; }
        &-12 { width: 100%; }
    }
}