@mixin helpers {
    .left {
        float: left !important;
    }
    .right {
        float: right !important;
    }

    .text {
        &-left {
            text-align: left !important;
        }
        &-right {
            text-align: right !important;
        }
        &-center {
            text-align: center !important;
        }
        &-justify {
            text-align: justify !important;
        }
    }
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}