.page {
	&-outer-wrapper {
		min-height: 100%;
		margin-bottom: -(_size(h-footer));
	}
	&-inner-wrapper {
		padding-bottom: _size(h-footer);
	}
	&-container {
		max-width: _size(w-content);
		margin: 0 auto;
	}
	&-header {
		min-height: _size(h-header);
	}
	&-footer {
		min-height: _size(h-footer);
	}
}

.l-sidebar {
	float: left;
	width: _size(w-l-sidebar);

	&~.content {
		margin-left: _size(w-l-sidebar);
	}
}

.r-sidebar {
	float: right;
	width: _size(w-r-sidebar);

	&~.content {
		margin-right: _size(w-r-sidebar);
	}
}