//- Приклад виклику меню (в елементі с класом .nav, або в його різновиді)

//- +nav({
//- 	'list': [
//- 		{
//- 			'title': 'Link-1'
//- 		},
//- 		{
//- 			'title': 'Link-2'
//- 		},
//- 		{
//- 			'title': 'Link-3'
//- 		},
//- 		{
//- 			'title': 'Link-4'
//- 		},
//- 	],
//- })

//- mixin nav(data)
//- 	+e.DIV.wrapper
//- 		+e.A.toggle(class="js-toggleMenu")
//- 			span
//- 			span
//- 			span
//- 		+e.UL.list
//- 			each item in data.list
//- 				+e.LI.item
//- 					+e.A.link(href="#")
//- 						span= item.title