// @include btn-xs();
// @include btn-sm();
// @include btn-md();
// @include btn-lg();
// @include btn-xl();
// @include btn-dev();
// @include btn-mob();
// @include btn-xso();
// @include btn-smo();
// @include btn-mdo();
// @include btn-lgo();

$e_btn:(
    text: #000,// Колір тексту
    text_hover: gray,// Колір тексту при наведенні
    bg: #fff,// Колір фону
    bg_hover: #f00,// Колір фону при наведенні
    bd: 1px solid gray,// Бордер
    pad: 5px,// Внутрішній відступ
    lh: 1.5,// Кегль тексту
    w: 100px,// Довжина кнопки
    bdrs: 4px,// Радіус кутів кнопок
);

@function _btn($var) {
    @return map_get($e_btn, $var);
}

@mixin btn-xs(){
/** btn xs */
    .btn{
        display: inline-block;
        border: _btn(bd);
        padding: _btn(pad);
        line-height: _btn(lh);
        color: _btn(text);
        text-decoration: none;
        background-color: _btn(bg);
        border-radius: _btn(bdrs);
        min-width: _btn(w);
        text-align: center;

        &:hover {
            background-color: _btn(bg_hover);
        }
    }
}
@mixin btn-sm(){
/** btn sm */
    .btn{}
}
@mixin btn-md(){
/** btn md */
    .btn{}
}
@mixin btn-lg(){
/** btn lg */
    .btn{}
}
@mixin btn-xl(){
/** btn xl */
    .btn{}
}
@mixin btn-dev(){
    /** btn dev */
    .btn{}
}
@mixin btn-mob(){
/** btn mob */
    .btn{}
}
@mixin btn-xso(){
    /** btn xso */
    .btn{}
}
@mixin btn-smo(){
/** btn smo */
    .btn{}
}
@mixin btn-mdo(){
/** btn mdo */
    .btn{}
}
@mixin btn-lgo(){
/** btn lgo */
    .btn{}
}