// @include table-xs();
// @include table-sm();
// @include table-md();
// @include table-lg();
// @include table-xl();
// @include table-dev();
// @include table-mob();
// @include table-xso();
// @include table-smo();
// @include table-mdo();
// @include table-lgo();

/****************************************
 *  Variables
 ***************************************/
$e_tbl:(
    bd: 1px solid gray, // Бордер
    bg_striped: #eee, // Колір фону парної/непарної строки
    bg_hover: #eee, // Колір фону при наведенні
    bg_checked: #eee, // Колір фону деякої обраної за якоюсь ознакою стрки
);










/****************************************
 *  Mixins
 ***************************************/
 // Окраска парних/непарних строк
 // $type - Вказівка парних/непарних строк
 //     odd - непарні (default)
 //     even - парні
 @mixin tbl_striped($type:odd) {
    &:nth-child(#{$type}) {
        background-color: _tbl(bg_striped);
    }
}










/****************************************
 *  Functions
 ***************************************/
@function _tbl($var) {
    @return map_get($e_tbl, $var);
}










/****************************************
 *  Styles
 ***************************************/
@mixin table-xs(){
// table xs
    table {
        width: 100%;
    }
    .table {
        overflow-y: hidden;
        overflow-x: auto;
        width: 100%;
    }
}
@mixin table-sm(){
// table sm
}
@mixin table-md(){
// table md
}
@mixin table-lg(){
// table lg
}
@mixin table-xl(){
// table xl
}
@mixin table-dev(){
// table dev
}
@mixin table-mob(){
// table mob
}
@mixin table-xso(){
// table xso
}
@mixin table-smo(){
// table smo
}
@mixin table-mdo(){
// table mdo
}
@mixin table-lgo(){
// table lgo
}