//- Для рендерінгу
//- Викликається:

//- +table({
//- 	thead: [ # Перелік даних із тегів th ]
//- 	tbody: [ # Перелік рядків в секції tbody
//- 		[ # Перелік даних з тегів td ]
//- 	]
//- })

mixin table(data)
	.table
		table
			thead
				tr
					each th in data.thead
						th= th
			tbody
				each tr in data.tbody
					tr
						each td in tr
							td= td