- var listMenu = [['Home', '#'], ['About', '#'], ['Works', '#', [['Work-1', '#'], ['Work-1', '#'], ['Work-1', '#']]], ['Info', '#'], ['Contacts', '#']]
nav.menu#AdaptiveMenu
	.menu__gamburger#iconAdaptiveMenu
		- for (var i = 0; i < 3; i++)
			span
	ul
		each menuItem in listMenu
			if menuItem[2]
				li.multylevel= menuItem[0]
					ul
						each subMenuItem in menuItem[2]
							li
								a(href=""+subMenuItem[1])= subMenuItem[0]

			else
				li
					a(href=""+menuItem[1])= menuItem[0]