extends tpl_1_col

block content
    +table({
        "thead": [
            {
                "title": "THead",
                "class": "tbl"
            }
        ]
    })
    +form-counter({
        "value": 1,
        "min": 0,
        "max": 99
    })