extends template

block header
	+b.HEADER.page-header
		h1 HEADER
		+nav({
			'item': [
				{
					'title': 'Главная',
					'href': '#'
				},
				{
					'title': 'Портфолио',
					'href': '#'
				},
				{
					'title': 'О нас',
					'href': '#'
				},
				{
					'title': 'Контакты',
					'href': '#'
				}
			]
		})