include _assets/bemto/bemto
- set_bemto_settings({modifier: "--"})

include _base/head

doctype html
html

	block html
		head
			+head({
				"title": "Template",
				"description": "Description of site"
			})

		body
			block content
				div Content

			block footer
				footer Footer

			block vendors

			block scripts
				script(src="js/main.js")