include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include _base/head

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Workshop",
				"author": "Space Academy",
				"description": "Workshop"
			})

	block body
		body
			block header

			.page-center
				block l-sidebar

				block r-sidebar

				block content

			block footer
				
			block vendors
				// build:js js/vendor.js
				//- script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				//- script( src="js/main.js")
				// endbuild
