include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include _base/head

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Workshop",
				"author": "Space Academy",
				"description": "Workshop"
			})

	block body
		body
			block header
				header.page-header Header

			.page-center
				block l-sidebar
					aside.page-left Left

				block r-sidebar
					aside.page-right Right

				block content
					main.page-content Content

			block footer
				footer.page-footer Footer
				
			block vendors
				// build:js js/vendor.js
				//- script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				//- script( src="js/main.js")
				// endbuild
