include _assets/bemto/bemto
- set_bemto_settings({modifier: "--"})

- var hasTopBd = false
- var hasBottomBd = false

include _base/head
include banner_adaptive/banner

doctype html
html

    block html
        head
            +head({
                "title": "Template",
                "description": "Description of site"
            })
            link(href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet")
            link(href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet")

        +b.BODY.page
            block banner_adaptive
                +banner_adaptive({
                    "hasTopBd": hasTopBd,
                    "hasBottomBd": hasBottomBd,
                    "holiday": "Happy Halloween!"
                })