include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

- var hasLibJs = false
- var hasLibCss = false
- var lang = "ru"

include _base/head

include menu/menu

doctype html
html(lang= lang)

	block head
		head
			+head({
				"title": "Workshop",
				"description": "Workshop",
				"hasLibCss": hasLibCss
			})

	body

		.container
			block menu
				+menu([
					{
					    'title': 'Главная',
						'link': '#',
					},
					{
					    'title': 'Каталог',
						'link': '#',
					},
					{
					    'title': 'О компании',
						'link': '#',
					},
					{
					    'title': 'Контакты',
						'link': '#',
					},
					{
					    'title': 'Пункт 5',
						'link': '#',
					},
				])

		block content
			div content

		block footer
			footer footer

		block vendors
			if (hasLibJs)
				script(src= "js/lib.min.js")

		block scripts
			script(src=" js/main.js")
