extends tpl_1_col

block content
	+b.DIV.page-wrapper
		+b.DIV.page-inner
			h1 Lorem ipsum dolor sit amet.
			h2 Lorem ipsum dolor sit amet.
			h3 Lorem ipsum dolor sit amet.
			h4 Lorem ipsum dolor sit amet.
			h5 Lorem ipsum dolor sit amet.
			h6 Lorem ipsum dolor sit amet.

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa facilis numquam, harum? Vitae quaerat provident, totam. Dolorum magnam, provident rerum veniam, voluptate similique nam enim iusto iste nostrum! Quibusdam, ut.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa facilis numquam, harum? Vitae quaerat provident, totam. Dolorum magnam, provident rerum veniam, voluptate similique nam enim iusto iste nostrum! Quibusdam, ut.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa facilis numquam, harum? Vitae quaerat provident, totam. Dolorum magnam, provident rerum veniam, voluptate similique nam enim iusto iste nostrum! Quibusdam, ut.

			ul
				li Lorem ipsum.
				li Lorem ipsum.
				li Lorem ipsum.

			ol
				li Lorem ipsum.
				li Lorem ipsum.
				li Lorem ipsum.

			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, eum nihil deleniti expedita sequi iure doloremque sint nemo ea delectus magni neque. Labore amet, ad recusandae illum molestias impedit inventore.

			h2 Таблицы

			table
				thead
					tr
						th Thead
						th Thead
						th Thead
						th Thead
				tfoot
					tr
						td Tfoot
						td Tfoot
						td Tfoot
						td Tfoot
				tbody
					tr
						td Tbody
						td Tbody
						td Tbody
						td Tbody
					tr
						td Tbody
						td Tbody
						td Tbody
						td Tbody
					tr
						td Tbody
						td Tbody
						td Tbody
						td Tbody

			h2 Формы

			form
				p
					label
						input(type="text")
						|  input text
				p
					textarea
				p
					select
						option val1
						option val2
						option val3
				p
					label
						input(type="checkbox")
						|  checkbox
				p
					label
						input(type="radio" name="radio")
						|  radio1
					label
						input(type="radio" name="radio")
						|  radio2
				p
					input(type="submit" value="Submit")