// @include form-xs();
// @include form-sm();
// @include form-md();
// @include form-lg();
// @include form-xl();
// @include form-dev();
// @include form-mob();
// @include form-xso();
// @include form-smo();
// @include form-mdo();
// @include form-lgo();

// ***************************************
// Variables
// ***************************************
$e_form:(
    bg: #fff,// Фоновий колір поля вводу
    w: 100%,// Довжина поля вводу
    pad: 4px 8px,// padding поля вводу
    pad_item: 8px,// padding огортувача поля вводу
    bd: 1px solid gray,// бордер поля вводу форми
    bdrs: 4px,// Зкруглення кутів поля вводу
    fz: 14px,// Розмір шрифту елементів форми
    lh: 1.5,// Розмір кеглю шрифту елементів форми
    ta_h: 200px,// Висота textarea
);










// ***************************************
// Mixins
// ***************************************
// Стилізація каретки селекту
// $width - Довжина коретки
// $height - Висота каретки
// $right - Відступ каретки зправа
// $color - колір каретки
@mixin form_sel($width:8px, $height:6px, $right:15px, $color:#000) {
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: $right;
        margin-top: -($height/2);
        background-color: transparent;
        border-top: #{$height} solid $color;
        border-left: #{$width/2} solid transparent;
        border-right: #{$width/2} solid transparent;
    }
}

// Стилізація checkbox (Застосовується для input[type="checkbox"], коли поуч є label)
// $width - Довжина
// $bdc - Колір бордеру
// $bg - Фоновий колір
// $bdrs - Скруглення бордеру
// $bd_weight - Вага бордеру
// $in_bg - Фоновий колір активної частини
// $in_width - Довжина активної частини
@mixin form_checkbox($width:16px, $bdc:#000, $bg:#fff, $bdrs:0, $bd_weight:1px, $in_bg:#000, $in_width:10px) {
    & {
        visibility: hidden;
    }

    & ~ label {
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: $width;
        border: $bd_weight solid $bdc;
        display: block;
        background-color: $bg;
        border-radius: $bdrs;
        box-sizing: border-box;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: $width/2 -$in_width/2-$bd_weight;
            left: $width/2 -$in_width/2-$bd_weight;
            width: $in_width;
            height: $in_width;
            background-color: $in_bg;
            display: none;
        }
    }

    &:checked ~ label {
        &:before {          
            display: block;
        }
    }
}

// Стилізація radio (Застосовується для input[type="radio"], коли поуч є label)
// $width - Довжина
// $bdc - Колір бордеру
// $bg - Фоновий колір
// $bd_weight - Вага бордеру
// $in_bg - Фоновий колір активної частини
// $in_width - Довжина активної частини
@mixin form_radio($width:16px, $bdc:#000, $bg:#fff, $bd_weight:1px, $in_bg:#000, $in_width:10px) {
    & {
        visibility: hidden;
    }

    & ~ label {
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: $width;
        border: $bd_weight solid $bdc;
        display: block;
        background-color: $bg;
        border-radius: 100%;
        box-sizing: border-box;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: $width/2 -$in_width/2-$bd_weight;
            left: $width/2 -$in_width/2-$bd_weight;
            width: $in_width;
            height: $in_width;
            background-color: $in_bg;
            border-radius: 100%;
            display: none;
        }
    }

    &:checked ~ label {
        &:before {          
            display: block;
        }
    }
}

// Стилізація placeholder
// $color - Колір тексту
// $fs - Стиль тексту
// $fz - Розмір тексту
@mixin form_plh($color:#ddd, $fs:italic, $fz:14px) {
    &::-webkit-input-placeholder {
        color:$color;
        font-style: $fs;
        font-size: $fz;
    }
    &::-moz-placeholder {
        color:$color;
        font-style: $fs;
        font-size: $fz;
        }/* Firefox 19+ */
    &:-moz-placeholder {
        color:$color;
        font-style: $fs;
        font-size: $fz;
        }/* Firefox 18- */
    &:-ms-input-placeholder {
        color:$color;
        font-style: $fs;
        font-size: $fz;
    }
}










// ***************************************
// Functions
// ***************************************
@function _form($var) {
    @return map_get($e_form, $var);
}










// ***************************************
// Styles
// ***************************************
@mixin form-xs(){
// form xs
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="time"],
    input[type="month"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    select,
    textarea {
        width: _form(w);
        padding: _form(pad);
        background-color: _form(bg);
        border: _form(bd);
        border-radius: _form(bdrs);
        font-size: _form(fz);
        line-height: _form(lh);
        box-sizing: border-box;
        display: inline-block;
    }
    input[type="range"] {
        width: 100%;
    }
    textarea {
        resize: none;
        height: _form(ta_h);
    }
    select {
        appearance: none;
    }
    label {
        display: inline-block;
    }
    .form{
        &__item {
            padding: _form(pad_item);
        }
        &__select {
            position: relative;
            @include form_sel();
        }
        &__checkbox {
            position: relative;

            input[type="checkbox"] {
                @include form_checkbox();
            }
        }
        &__radio {
            position: relative;

            input[type="radio"] {
                @include form_radio();
            }
        }
    }
}

@mixin form-sm(){
// form sm
    .form{}
}
@mixin form-md(){
// form md
    .form{}
}
@mixin form-lg(){
// form lg
    .form{}
}
@mixin form-xl(){
// form xl
    .form{}
}
@mixin form-dev(){
// form dev
    .form{}
}
@mixin form-mob(){
// form mob
    .form{}
}
@mixin form-xso(){
// form xso
    .form{}
}
@mixin form-smo(){
// form smo
    .form{}
}
@mixin form-mdo(){
// form mdo
    .form{}
}
@mixin form-lgo(){
// form lgo
    .form{}
}




